<input
#nomArticle
class="input"
type="text"
id="nom"
name="nom"
placeholder="Nom du jeu"
/>
<label for="nom">Nom du jeu</label>

<button class="btn btn-primary" (click)="searchArticle(nomArticle.value)">
Rechercher
</button>

<div class="folder">
<div class="carreJeu" *ngFor="let art of Articles">
  <img src="{{ art.img }}" />
  <h4>{{ art.nom }}</h4>
  <p>{{ art.prix }}</p>
  <button class="btn btn-primary" (click)="addArticle(art)">
    Ajouter au panier
  </button>

  <a routerLink="{{ art.id }}" class="btn btn-primary">Détails</a>
</div>
</div>