<nav>
    <div class="nav-wrapper teal lighten-2">
      <a erLink="/" class="brand-logo">Nos jeux</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/compte">Mon Compte</a></li>
        <li><a routerLink="/auth">Connexion</a></li>
        <li><a routerLink="/register">S'inscrire</a></li>
        <li><a routerLink="../magasin/catalogue">Catalogue</a></li>
        <li>
          <a routerLink="../magasin/panier"
            >Votre Panier :
            {{ (articlePanier$ | async).length }} article(s)</a
          >
        </li>
      </ul>
    </div>
  </nav>